<section class="location-section">
  <h2>Our Location</h2>
  <div class="map-container">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2593.1945842327696!2d20.113992070680997!3d39.382374840017484!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x135c9b1ff9ee768f%3A0xa479983918df3603!2sMediterranean%20Restaurant%2C%20Wood%20Oven-local%20Cuisine%2C%20Pizza!5e0!3m2!1sel!2sgr!4v1732984200491!5m2!1sel!2sgr"
     width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" >
    </iframe>
  </div>
  <a
  href="https://maps.app.goo.gl/9EMTNc6jcCTCCBDB9"
  target="_blank"
  class="btn"
>
  Get Directions
</a>
</section>

