@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap');


.section {
  padding: 2rem;
  text-align: center;

  h1 {
    font-size: 2rem;
    color: #333;
  }

  p {
    font-size: 1rem;
    color: #555;
  }
}
